/*mise en forme RWD desktop first */
* {
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    /* boite complète contenu + padding + bordure */
}

#home figure {
    max-width: 100vw;
    padding: 3em;
    margin: auto;
}

h1 {
    font-size: 3em;

}

#logo {
    width: 50%;
}

ul,
li,
a {
    list-style: none;
    padding: 0;
}


#home figure {
    max-width: 100vw;
    margin: auto;
}

#logo {
    width: 50vw;
    height: auto;
}

ul,
li,
a {
    list-style: none;
    width: 1em;
    padding: 0;

}

nav {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    padding: 0.5em;
}

/* ---------------------------------------------------style générique */

body {
    background-color: #112C4F;

}

/* HEADER et h1 masqué */
header {
    display: none;
}


/*-----------------------------------------------------body*/

main section {
    padding: 10% 5%;
}


/*-----------------nav réseau sociaux main et footer*/

nav {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    padding: 8px;
}


/*Titre h2 et h3*/

main h2 {
    font-size: 2em;
    font-weight: 300;
    margin: auto;
    text-align: center;
    padding: 0.3em 2px;
    margin-bottom: 1em;
    border-bottom: dotted #EB9BAB 0.08em;
    width: fit-content;
}

/*-----------------------------------------------------style de section*/
/*------------------------------------home*/
#home>figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#home nav ul {
    margin: 15% auto;
}

/*------------------section a propos*/

#a_propos h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

#a_propos p,
dl {
    text-align: left;
}

#a_propos ul {
    list-style: none;
}

#a_propos ul li::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 7px 3px;
    background: #EB9BAB;
}

#a_propos dl {
    justify-content: center;
    margin-bottom: 1em;
}

#a_propos .bouton {
    margin: auto;
}

.perso {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.perso {
    width: 100%;
    flex-direction: column;
}

.perso figure,
.perso dt,
.perso h3,
.perso ul {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*    .perso ul {
        max-width: 40%;
        margin: auto;
    }

    .perso ul li{
        text-align: left;
    }*/


/*--------------------------mes projet*/

#mes_projets .bouton {
    margin: auto;
}

#mes_projets article p {
    max-width: 1000px;
    margin: 2em auto 0 auto;
}

.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.illu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.illu img {
    height: 3em;
    margin-bottom: 1em;
}

#illu_mini {
    height: 2.6em;
    margin-bottom: 1em;
}

/*Desktop : à partir de 980px*/
@media screen and (max-width: 980px) {

    .social {
        flex-direction: column;
    }


    /*------------------------------------me contacter*/
    .rogner1 {
        max-width: 800px;
        height: auto;
    }

    .rogner2 {
        width: 300px;
        height: auto;
        margin-bottom: 100px;
    }

    .image {
        display: block;
        margin: auto;
    }

    .image {
        width: 100%;
    }
}

/*--------------------------------------------------------------------Bouton*/

.bouton {
    display: block;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    margin: 10px;
    background-color: #EB9BAB;
    border-radius: 50px;
    cursor: pointer;
    max-width: fit-content;
}

.bouton:hover {
    background-image: linear-gradient(90deg, #EB9BAB 0%, #00C0FF 20%, #C1A3D3 40%, #3872D1 60%, #AACEFA 80%);
    border-color: #EB9BAB;
    animation: slidebg 2s linear infinite;

}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.bouton:active {
    background: #fff;
    color: #EB9BAB;
    border-radius: 50px;
}

.plus_rose::after {
    content: " +";
    color: #EB9BAB;
}

/*--------------------------------------------------------------------couleurs et backgrouds*/

.font_bleu {
    background: #16437E;
}

.rose {
    color: #EB9BAB
}

/*--------------------------------------------------------------------Flex*/
.flex {
    display: flex
}

.column {
    flex-direction: column;
}

.center-ligne {
    justify-content: center;
}

.center-colonne {
    align-items: center;
}

.inline {
    display: inline
}

.block {
    display: block
}

.inline {
    display: inline-block;
}

.start_block {
    justify-content: flex-start;
}

.start_item {
    align-self: flex-start;
}

.top_bottom {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* brouillons animation
.anime {
   -webkit-animation: 4s linear 0s infinite alternate monanimation;
    animation: 4s linear 0s infinite alternate monanimation;
}

@-webkit-keyframes monanimation {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes monanimation {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}*/
