/*-------------------------------------la page contact*/


/*l'acceuil*/
#contact_acceuil{
    padding: 10% 0;
}

#contact_acceuil h1, #contact_mecontacter h2 {
    font-size: 80px;
    text-align: center;
    font-weight: 400;
}

#contact_acceuil figcaption ul {
    width: 200px;
    margin: -5% auto 0;
}

.oiseau-contact {
    width: 40%;
}

.mail-contact {
    position: absolute;
    top: 70%;
    margin: 0 auto;
    text-align: center;

}

.width-100 {
    width: 100%;
}

/*me contacter*/

#contact_mecontacter article img,
#contact_mecontacter article p {
    width: 50%;
    margin: auto;
}

.socials-rose {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

.socials-rose a img {
    height: 120px;
}

.padding-20 {
    padding: 20% 0;
}

.padding-10 {
    padding: 2% 0;
}

@media screen and (max-width: 590px) {
    /*acceuil*/
    .oiseau-contact {
        width: 70%;
        position: absolute;
        top: 20%;
        left: 20%;
    }

    .width-100 {
        width: 100%;
    }

    .mail-contact {
        position: absolute;
        top: 50%;
        margin: 0 auto;
        text-align: center;

    }

    .img-bottom {
        top: 10%;
    }


    /*social*/
    #contact_mecontacter article h2 {
        font-size: 40px
    }

    #contact_mecontacter article img,
    #contact_mecontacter article p {
        width: 90%;
    }

    .socials-rose {
        width: 100%;
        flex-direction: column;
    }

    .socials-rose a {
        margin: 2vh 0;
    }

}

@media screen and (max-width: 420px) {
    .oiseau-contact {
        width: 80%;
        position: absolute;
        top: 25%;
        left: 10%;
    }


    .mail-contact {
        position: absolute;
        top: 50%;
        margin: 0 auto;
        text-align: center;

    }

}
