

/*section acceuil*/

.acceuil_page {
    padding-top: 10vh;
    margin-top: 5%;
}

.acceuil_page>div{
    width: 80%;
    margin:0 auto;
}

.acceuil_page div figure {
    width: 100%;
    height: 60vh;

}

.acceuil_page div h1 {
    font-size: 80px;
    margin-top: -60px;
    line-height: 95%;
    position: absolute;
    text-shadow: 0.5em 0.2em 0.5em rgba(51, 51, 51, 0.309);
    z-index: 1;
}

.acceuil_page div figure img {
    height: 100%;
    object-position: center;
    object-fit: cover;
}

/*section definition*/

.definition_page{
    margin-top: 10vh;
}

.img-definition{
    margin-left: 10vh;
}

.width-30{
    width: 40vw;

}

.img-definition>img {
    height: 100%;
    object-fit: cover;
}

.float-left{
 float: right;
}

 dt {
     font-size: 25px;
     font-family: 'Lora',
         serif;
     font-style: italic;
     margin: 15px 0 5px 0;
 }


/*section figure*/

.figure-page {
    height: 50vw;
    margin-top: 5vh;
}

.figure-page-3{
    height: 40vw;
    margin-top: 4vh;
}

.height-100{
    height: 100%;
    object-fit: cover;
}

.width-100{
    width: 100%;
    object-fit: cover;
}

.margin-0-20px {
margin-left: 20px;
margin-right: 20px;
}

.margin-right-15px{
    margin-right: 5vh;
}

.navig-projet {
    width: 300px;
    margin: 20vh auto;
}

.navig-projet>div a {
    font-family: 'Lora', sans-serif;
    font-size: 30px;
}

.navig-projet>.bouton {
    margin: 10vh auto ;
}

/*les animations en bc*/

.background-etoile,
.background-vir {
    background-image: url('../img/etoile/bc-touteconstell.svg');
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.background-etoile {
    width: 99%;
    height: 80%;
    background-repeat: repeat round;
    background-size: 80%;
    }

.background-vir {
    width: 100%;
    height: 50%;
    margin: -10vh;
    background-repeat: no-repeat;
    background-size:100%;
}

/* pour les tablettes */

@media screen and (max-width: 960px) {

    .acceuil_page div h1 {
        font-size: 70px;
        margin-top: -50px;
    }


    .definition_page_responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .definition_page_responsive h3 {
        display: block;
        width: 100%;
    }


    .definition_page_responsive div,
    .definition_page_responsive div > dl {
        width: 100%;
    }

    .img-definition {
        display: none;
        margin: 0;
    }

    .definition_page_responsive .float-left {
        float: none;
    }

}

/* pour les mobiles */

@media screen and (max-width: 720px) {

    .acceuil_page>div {
        width: 80%;
    }

    .acceuil_page div figure {
        height: 100%;
    }

    .acceuil_page div h1 {
        font-size: 40px;
        margin-top: 0;
        position: relative;
    }


    .definition_page article div div h3{
        text-align: left;
        hyphens: initial;
    }

    .presentation_page article div figure {
        height: 100%;
    }

         .margin-0-20px {
             margin-left: 0;
             margin-right: 0;
         }

         .margin-right-15px {
             margin-right: 0;
         }
}

@media screen and (max-width: 500px) {

    .acceuil_page {
        margin-top: 0;
    }

    .section-height-responsive {
        height: 70vh;
    }

    .acceuil_page div figure {
        height: 100%;
    }

}

@media screen and (max-width: 420px) {
    .section-height-responsive {
        height: 20vh;
    }
}
