
main {
    min-width: 300px;
    max-width: 1920px;
    margin: 0 auto;
}

/*----------------------------------------------------------hover figure */

.overlay_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


 /* les images en background des figure*/

 .etoile-back-1 {
     background: no-repeat left -500% url("../img/etoile/vir-1.svg");
 }


 /* les puces rose en before*/

 .dot-rose-som:before {
     content: "";
     display: inline-block;
     width: 22px;
     height: 22px;
     margin: 0 15px;
     border-radius: 50px;
     background-color: #eb9bab;
 }

 /*---------------------------------------------------------grille en flex*/

 /* la solution de grid ne marche pas, je constuis donc une solution alternative*/


 /* les animation de background*/

 .bc-img {
     width: 100vw;
     overflow: hidden;
 }

 .img-top,
 .img-top-2,
 .img-right.img-right-2,
 .img-left.img-left-2,
 .img-bottom.img-bottom-2 {
     position: absolute;
     z-index: -2;
 }

 .img-top {
     width: 45vw;
     left: 0;
     top: 10px;
 }

 .img-right {
     width: 45vw;
     top: 40%;
     left: 52%;
 }

 .img-bottom {
     width: 30vw;
     top: 100%;
     left: 0;
 }

 .img-left {
     width: 30vw;
     top: 60%;
     left: -2%;
 }


 .img-top-2 {
     width: 75%;
     left: 6%;
     top: 460vh;
 }


 /*--------------------------------------------------------------------margin-padding*/


 h1,
 h2,
 h3,
 h4,
 h5 {
     margin-top: 2vh;
     padding: 0;
 }

 h3 {
     font-size: 30px;
     font-family: 'Lora',
         serif;
     font-style: italic;
     margin-bottom: 2vh;
 }

 /*------------------------------------------------------------ id et particulier*/
 /*----------------------------------------------------------------------------------------------------------------------- home*/
 /* toutes les section sauf la home et l'image*/


 /* la section acceuil*/

 header {
     height: 5vh;
 }

 header ul {
     margin: 0;
 }

 /* la section acceuil*/

 #acceuil-portfolio {
     height: 95vh;
     padding-top: 1vh;
 }

 #acceuil-portfolio .oiseau-lune {
     display: block;
     width: 20%;
     height: 20%;
     padding: 10px;
     margin-left: 60vw;
     margin-bottom: -5vh;
 }

 #acceuil-portfolio div>h1 {
     margin: 0;
     line-height: inherit;
     font-size: 185px;
     font-family: 'Montserrat', Arial, Helvetica, sans-serif;
     font-weight: 500;
     font-style: normal;
     text-align: center;
 }


 /* la section portfolio*/

 #portfolio-sommaire article div {
     width: 60vw;
     margin: auto;
 }

 #portfolio-sommaire article a {
     margin-top: 10vh;
 }

 #portfolio-sommaire article div figure {
     height: 30%;
 }

 #portfolio-sommaire article div figure img {
     width: max-content;
     object-fit: cover;
 }

 .suppr-margin {
     margin-bottom: -10vh;
 }

 /*socials-rose*/


 #socials-rose article {
     padding: 15% 5%;
 }

#socials-rose article a img {
    width: auto;
    height: 120px;
    margin-bottom: 50px;
}


/*------------------------------------------------------------le responsive*/

/* pour les tablettes */

/* les images ont tendances à ne pas bien rentrer dans leurs boxes au delas de 1020px, j'utilise une min-width*/

@media screen and (min-width: 1020px) {


    /*acceuil*/
    #acceuil-portfolio {
        height: auto;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    #portfolio-sommaire article div figure {
        width: fit-content;
        height: 20%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 960px) {
    /*------------------------------------------------typo*/
    /*generaux*/
    h2 {
        font-size: 80px;
    }

    h3 {
         font-size: 30px;
         text-align: center;
     }

     /*acceuil*/

     #acceuil-portfolio div>h1 {
         font-size: 120px;
         padding: 0 10vw;
     }

     #acceuil-portfolio .main-scroll {
         position: relative;
         bottom: -15vh;
     }

     #portfolio-sommaire article div div figure img {
         height: 100%;
         object-fit: cover;
         margin: 0;
     }

 }

 /* pour les mobiles */

@media screen and (max-width: 720px) {

    #acceuil-portfolio .oiseau-lune {
        width: 30%;
        height: 30%;
        padding: 20px;
        margin-left: 63vw;
    }

    /*porfolio sommaire*/
    #portfolio-sommaire article div {
        width: 80vw;
    }

    .width-80-responsive > div figure {
        width: 100%;
    }
 }

@media screen and (max-width: 600px) {
    /*acceuil*/
    #acceuil-portfolio .oiseau-lune {
        width: 40%;
        height: 40%;
        padding: 20px;
        margin: 0 35vw 0 0;
    }

    #acceuil-portfolio div h1 {
        font-size: 70px;
    }

    /*porfolio sommaire*/
    #portfolio-sommaire article div {
        width: 100%;
    }

    #portfolio-sommaire article div figure {
        height: 100%;
    }

    #portfolio-sommaire article div figure figcaption {
        display: none;
    }

    /*social*/
    #socials-rose article {
        display: flex;
        flex-direction: column;
    }

    #socials-rose article a {
        margin: 2vh 0;
     }

 }

@media screen and (max-width: 320px) {


    /*généraux*/
    #acceuil-portfolio .oiseau-lune {
        width: 50%;
        height: 50%;
        padding: 20px;
        margin: 0 35vw 0 0;
    }

    #acceuil-portfolio div h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }

 }