 /* resset*/

 html {
     height: 100%;
 }

 body {
     min-width: 300px;
     height: 100%;
     margin: 0;
     padding: 0;
 }

 /* cette phrase est sensée empêcher les mauvais affichage au delas de 300px et 1920px*/

 header, main {
     min-width: 300px;
     max-width: 1920px;
     margin: 0 auto;
 }

 section,
 article,
 figure {
     margin: 0;
     padding: 0;
 }

 ul,
 li,
 a,
 i {
     list-style: none;
     padding: 0;
 }

 img {
     display: block;
     margin: 0 auto;
     width: 100%;
     max-width: 100%;
     height: auto;
     box-sizing: border-box;
 }

 dd,
 dl,
 dt {
     margin: 0;
     padding: 0;
 }

 button,
 input {
     border: none;
 }

 p{
     text-align: justify;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
    hyphens: auto;
 }


 /*------------------------------------------------mise en forme RWD desktop first */
 * {
     text-decoration: none;
     box-sizing: border-box;
     color: #fff;
     font-family: 'Poppins', Geneva, Verdana, sans-serif;
     font-size: 20px;
     font-weight: 300;
 }

 figure {
     box-shadow: 0 0 46px 3px rgba(0, 0, 0, 0.3);
 }

 /*----------------------------------------------------------hover figure */

 .figure-survol, .figure-page {
     position: relative;
     /* ma figure est en position relative pour placer son enfant en absolu */
     width: 100%;
     height: 30vw;
     overflow: hidden;
     /* tout ce qui dépace de ma figure est caché */
 }

 .figure-survol a img {
     /* de base, mon image aura une taille de 100%  */
     -moz-transform: scale(1);
     -webkit-transform: scale(1);
     -o-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
 }

 .figure-survol figcaption {
     /* mon figcaption est en position absolue, et occupe tout l'espace de son parent relatif
             grâce aux propriétés top, right, bottom et left à 0 */
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: rgba(100, 100, 255, 0);
     padding: 20px;
     color: #fff;
     pointer-events: none;
     /* on désactive les actions du pointeur sur figcaption pour éviter qu'il
                nous empêche de cliquer sur le lien de l'image  */
     display: flex;
     flex-direction: column;
     justify-content: center;
 }



 .figure-survol figcaption h3 {
     font-family: 'Lora', sans-serif;
     font-weight: normal;
     font-size: 30px;
     text-align: center;
     opacity: 0;
     /* de base, il sera transparent pour pouvoir le passer en opaque au survol */
 }

 .figure-survol figcaption h3:after {
     content: '';
     display: block;
     margin: 30px auto;
     width: 20%;
     height: 2px;
     border-radius: 20px;
     background: #fff;
 }

 .figure-survol figcaption p {
     margin: 0 auto;
     text-align: center;
     opacity: 0;
     /* de base, il sera transparent pour pouvoir le passer en opaque au survol */
 }

 /* 'APPLIQUE MES TRANSITION POUR LE CHANGEMENT D'ETAT SURVOL */

 .figure-survol figcaption,
 .figure-survol figcaption p,
 .figure-survol a img {
     /* je rajoute mes transitions sur les 4 éléments listés ci-dessus pour obtenir
         l'effet au survol */
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     transition: all 1s ease;
 }



 /* J'APPLIQUE MES EFFETS DE SURVOL*/


 /* au survol, mon fond passe du rouge transparent au transparent à 40% */
 .figure-survol:hover figcaption {
     background: linear-gradient(#0765ff, #1a62a5);
     opacity: 80%;
 }

 /* au survol, le paragraphe passe du transparent à l'opaque */
 .figure-survol:hover figcaption p {
     opacity: 1
 }

 .figure-survol:hover figcaption h3 {
     opacity: 1
 }

 .figure-survol:hover a img {
     /* au survol, l'échelle de l'image passe à 120% */
     -moz-transform: scale(1.2);
     -webkit-transform: scale(1.2);
     -o-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.2);
 }

 .overlay {
     position: absolute;
     z-index: 10;
 }

 /* les images en before*/

 .etoile-back-right:before,
 .etoile-back-left:after {
     position: relative;
     margin: 0;
     z-index: -1;
 }

 .etoile-back-left:before {
     content: url('../img/special/lune.svg');
     /* display: block; ici ça ne marche pas*/
     top: -30px;
     left: -30px;
 }

 .etoile-back-left:after {
     content: url('../img/special/lune.svg');
     /* display: block; ici ça ne marche pas*/
     top: -30px;
     left: -30px;
 }

 /* les puces rose en before*/

 .dot-rose:before {
     content: "";
     display: inline-block;
     width: 20px;
     height: 20px;
     margin: 0 10px;
     border-radius: 50px;
     background-color: #eb9bab;
 }

 .filet,
 .filet-2 {
     border-bottom: dotted thick #eb9bab;
     margin: auto;
 }

 .filet {
     width: fit-content;
 }

 .filet-2 {
     border-bottom-width: medium;
     width: fit-content;
 }


 /*-----------------------------------------scroll down*/

 /* le scoll rose en haut*/
 .main-scroll {
     position: absolute;
     bottom: 5vh;
     left: 50%;
     width: 18px;
     height: 70px;
     border-radius: 9px;
     transform: translateX(-50%);
     /* z-index: 2 */
 }

 .main-scroll .barre,
 .main-scroll .rond {
     position: absolute;
     bottom: 0;
 }

 .main-scroll .barre {
     top: 0;
     bottom: 0;
     left: calc(50%);
     display: block;
     border-radius: 100px;
     width: 4px;
     background: #eb9bab;
     opacity: .5;
 }

 .main-scroll .rond {
     top: 0;
     left: 6%;
     padding: 10px;
     display: block;
     width: 18px;
     height: 18px;
     border-radius: 50%;
     background: #eb9bab;
 }

 .rond:hover {
     -webkit-animation: scroll 2s linear infinite;
     animation: scroll 2s linear infinite;
 }

 @-webkit-keyframes scroll {
     0% {
         transform: translateY(0);
         opacity: 1
     }

     90% {
         transform: translateY(30px);
         opacity: 0
     }

     to {
         transform: translateY(0);
         opacity: 0
     }
 }

 @keyframes scroll {
     0% {
         transform: translateY(0);
         opacity: 1
     }

     90% {
         transform: translateY(30px);
         opacity: 0
     }

     to {
         transform: translateY(0);
         opacity: 0
     }
 }

 /* le scoll blanc en bas*/

 .main-scroll-2 {
     position: relative;
     bottom: 0;
     left: 10%;
     width: 18px;
     height: 70px;
     border-radius: 9px;
     transform: translateX(-50%);
     /* z-index: 2 */
 }

 .main-scroll-2:after,
 .main-scroll-2:before {
     content: "";
     position: absolute;
     bottom: 0;
     margin: 10px 0;
 }

 .main-scroll-2:before {
     top: 0;
     bottom: 0;
     left: calc(61%);
     display: block;
     border-radius: 100px;
     width: 3px;
     background: #fff;
     opacity: .5;
 }

 .main-scroll-2:after {
     top: 4px;
     left: calc(61% - 6px);
     display: block;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #fff;
     -webkit-animation: scroll 6s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
     animation: scroll 6s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
 }


 /*---------------------------------------------------------grille en flex*/

 /* la solution de grid ne marche pas, je constuis donc une solution alternative*/

 /*la div qui contient mes elements centraux*/
 .flex-conteneur {
     display: flex;
     flex-direction: row;
     margin: 15px 0;
 }

 /*une div qui mets de redimensionner mes éléments dans le flex-conteneur
 (attention, cela depends encore de la taille de la figure, si on modifie la height, il faut modifier les deux*/
 .cover {
     height: 30vw;
     object-fit: cover;
 }

 .margin-0-15px {
     margin: 0 15px;
 }

 .margin-left-5vw {
     margin: 0 5vw 0 0;
 }

 /*---------------------------------------------------------Boutons*/

 .bouton,
 .bouton-line {
     display: block;
     font-size: 1em;
     text-align: center;
     padding: 20px 20px;
     margin: 20px auto;
     border-radius: 50px;
     cursor: pointer;
     max-width: fit-content;
     white-space: nowrap;
 }


 .bouton {
     background-color: #EB9BAB;

 }

 .bouton-line {
     border: #EB9BAB solid 1px;

 }

 /*animation hover*/

 .bouton:hover,
 .bouton-line:hover {
     background-image: linear-gradient(90deg, #71a8ff, #6e9eff, #9d9afe, #87aefd, #71a8ff);
     border: none;
     -webkit-animation: slidebg 2s linear infinite;
     animation: slidebg 2s linear infinite;
 }

 @-webkit-keyframes slidebg {
     to {
         background-position: 20vw;
     }
 }


 @keyframes slidebg {
     to {
         background-position: 20vw;
     }
 }


 /* ---------------------------------------------------------animations*/


 /* les animation de background*/

 .bc-img {
     width: 100%;
     overflow: hidden;
 }

 .img-top {
     width: 45vw;
     position: absolute;
     left: 0;
     top: 10px;
     z-index: -2;
 }

 .img-right {
     width: 45vw;
     position: absolute;
     top: 40%;
     left: 52%;
     z-index: -2;
 }

 .img-bottom {
     width: 30vw;
     position: absolute;
     top: 30%;
     left: 62%;
     z-index: -2;

 }

 .img-left {
     width: 30vw;
     position: absolute;
     top: 60%;
     left: -2%;
     z-index: -2;

 }

 .img-clignote {
     -webkit-animation-duration: 6s;
     -webkit-animation-name: clignoter;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);

     animation-duration: 6s;
     animation-name: clignoter;
     animation-iteration-count: infinite;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }

 @-webkit-keyframes clignoter {
     0% {
         opacity: 0.2;
     }

     40% {
         opacity: 0.5;
     }

     70% {
         opacity: 0.9;
     }

     100% {
         opacity: 0.2;
     }
 }

 @keyframes clignoter {
     0% {
         opacity: 0.2;
     }

     40% {
         opacity: 0.5;
     }

     70% {
         opacity: 0.9;
     }

     100% {
         opacity: 0.2;
     }
 }

 .img-flotte {
     -webkit-animation-duration: 6s;
     -webkit-animation-name: flotter;
     -webkit-animation-direction: alternate;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

     animation-duration: 6s;
     animation-name: flotter;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
 }

 @-webkit-keyframes flotter {
     from {
         margin-left: 40px;
     }

     to {
         margin-left: 0;
     }
 }

 @keyframes flotter {
     from {
         margin-left: 40px;
     }

     to {
         margin-left: 0;
     }
 }

 .img-trotte {
     -webkit-animation-duration: 10s;
     -webkit-animation-name: trotter;
     -webkit-animation-direction: alternate;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: all 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0);

     animation-duration: 10s;
     animation-name: trotter;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     transition: all 0.2s cubic-bezier(0.42, 0.0, 0.58, 1.0);
 }

 @-webkit-keyframes trotter {
     from {
         -webkit-transform: rotate(5deg);
         margin-top: 40px;
     }

     to {
         -webkit-transform: rotate(20deg);
         margin-top: 0;
     }
     
 }

 @keyframes trotter {
from {
    -webkit-transform: rotate(5deg);
    margin-top: 40px;
}

to {
    -webkit-transform: rotate(20deg);
    margin-top: 0;
}

 }

 /*--------------------------------------------------------------------Flex et disposition*/
 .flex {
     display: flex
 }

 .none {
     display: none;
 }

 /*inline-block*/

 .inline {
     display: inline
 }

 .block {
     display: block
 }

 .inline-block {
     display: inline-block;
 }

 .none {
     display: none;
 }



 /*colomnes-ligne*/

 .row {
     flex-direction: row;
 }

 .column {
     flex-direction: column;
 }

 .row-reverse {
     flex-direction: row-reverse;
 }

 /*centrer*/

 .text-center {
     text-align: center;
 }

 .margin-auto {
     margin: 0 auto;
 }

 .justify-center {
     justify-content: center;
 }

 .align-center {
     align-content: center;
 }

 .item-center {
     align-items: center;
 }

 /* start*/

 .start-block {
     justify-content: flex-start;
 }

 .start-item {
     align-self: flex-start;
 }

 .justify-end {
     justify-content: flex-end;
 }

 /*space*/

 .space-around {
     justify-content: space-around;
 }

 .space-evently {
     justify-content: space-evenly;
 }

 .space-between {
     justify-content: space-between;
 }

 /*wrap*/

 .wrap {
     flex-wrap: wrap;
 }


 /*--------------------------------------------------------------------margin-padding*/

 /*taille viewport*/

 .section-height {
     height: 95vh;
 }

 .width-80 {
     width: 90%;
 }

 .width-50 {
     width: 50%;
 }

 .width-70 {
     width: 70%;
 }

 .padding-100 {
     padding: 100% 0;
 }

 /*margin*/

 /*-----------------------------------------------------------------------couleur-background*/

 /*background*/

 .bc-canard {
     background-color: #2062A1;
 }

 .bc-nuit {
     background-color: #133B62;
 }

 .bc-rose {
     background-color: #EB9BAB;
 }

 .bc-cercle {
     position: absolute;
     background-image: url('../img/etoile/bc-cercle-etoile.svg');
     width: 100%;
     height: 120%;
     opacity: 0.3;
     z-index: -1;
 }

 /*couleur*/

 .rose {
     color: #EB9BAB;
 }

 /*------------------------------------------------typo*/

 h1,
 h2,
 h3,
 h4,
 h5 {
     margin-top: 2vh;
     padding: 0;
 }

 h2 {
     text-align: center;
     font-size: 125px;
     font-weight: 400;
 }

 h3 {
     font-size: 30px;
     font-family: 'Lora',
         serif;
     font-style: italic;
     margin: 0;
 }

 /*------------------------------------------------------------ id et particulier*/
 /*----------------------------------------------------------------------------------------------------------------------- home*/
 /* toutes les section sauf la home et la grille*/

 #portfolio,
 #prestation,
 #en-resume {
     padding-bottom: 10vh;
 }

 /* le header*/

 header nav ul li:hover {
     border-bottom: solid 1em #87aefd;
     width: fit-content;
     transition: all 1s ease
 }

 header nav ul li:hover::after {
     opacity: 1
 }

 .hide-desktop {
     display: none;
 }

 /* la section acceuil*/

 header {
     height: 5vh;
 }

 header nav ul {
     padding: 2% 0;
 }

 /* la section acceuil*/

 #acceuil #titre {
     padding-top: 25vh;
 }

 #acceuil .oiseau {
     width: 300px;
     padding: 10px;
     margin-left: 400px;
     position: absolute;
     z-index: 1;
 }

 #acceuil div div>h2 {
     margin: 0;
     line-height: inherit;
 }

 #acceuil div>h1 {
     font-size: 30px;
     font-family: 'Lora',
         serif;
     font-style: italic;
     text-align: right;
     padding-right: 10vw;
 }

 #acceuil div h1>strong {
     font-size: 30px;
     font-weight: 500;
     font-style: normal;
 }


 /* la section portfolio*/

 #portfolio article a {
     margin-top: 10vh;
 }

 .suppr-margin {
     margin-bottom: -10vh;
 }


 /* la section prestation*/

 .lune-back:before {
     content: url('../img/special/lune.svg');
     position: relative;
     top: -30px;
     left: -30px;
     margin: 0;
     z-index: -1;
 }

 #prestation article div div {
     width: 100%;
     height: 50vh;
     margin-bottom: 20vh;
 }

 #prestation article div div figure {
     width: 100%;
     overflow: hidden;
 }


 .margin-5vh-right {
     margin-right: 5vh;
 }

 .margin-5vh-left {
     margin-left: 5vh;
 }

 #prestation article div div figure img {
     height: 100%;
     object-fit: cover;
     object-position: center;
 }

 /* la en resume*/

 .h2-75 span {
     font-size: 75px;
 }

 .souris,
 .shadow-none {
     box-shadow: none;
 }



 .souris>img {
     width: 30vw;
     margin: 5vh auto;
     box-shadow: none;
 }

 .margin-1vh-bottom {
     margin-bottom: 2vh;
 }

 #en-resume article>div {
     margin-left: 10vw;
 }

 /* ciel enchanté*/

 #ciel-enchante {
     overflow: hidden;
     box-shadow: none;
     margin-bottom: -2.2vh;
 }

 #ciel-enchante img {
     position: relative;
     z-index: -1;
 }

 /* footer*/

 .footer {
     margin: 0;
     padding: 5vh 0;
 }

 .footer div {
     width: 80%;
     margin: auto;
 }

 .footer div figure {
     width: 200px;
     box-shadow: none;
 }

 .footer div div {
     width: 30%;
 }

 .footer nav ul li {
     width: 40px;
     margin: 1vw;

 }


 /*------------------------------------------------------------le responsive*/

 /*pour les tablettes*/


 /* pour les tablettes */

 @media screen and (max-width: 960px) {
     /*------------------------------------------------typo*/
     h2 {
         font-size: 80px;
     }

     h3 {
         font-size: 30px;
         float: left;
     }

     #acceuil div>h1 {
         font-size: 30px;
         text-align: center;
         padding: 0 10vw;
     }

     #acceuil div h1>strong {
         font-size: 30px;
     }

     #acceuil .oiseau {
         width: 200px;
         position: absolute;
         margin-left: 220px;

     }

     /*body*/
     .responsive-prestation {
         flex-direction: column-reverse;
         height: auto;
         margin-bottom: 30px;
     }

     .responsive-prestation div {
         display: flex;
         flex-direction: column;
     }

     #prestation article div div {
         height: auto;
         margin-bottom: 30px;
     }

     #prestation article div div figure {
         width: 100%;
         overflow: auto;
     }


     .h2-75 span {
         font-size: 60px;
     }

     .lune-back:before {
         display: none;
     }

     .figure-survol figcaption p {
         font-size: 18px;
         /* de base, il sera transparent pour pouvoir le passer en opaque au survol */
     }

     .margin-5vh-right {
         margin-right: 0;
     }

     .margin-5vh-left {
         margin-left: 0;
     }

     .margin-left-5vw {
         margin: 0;
     }

     /*la section en résumé*/
     .responsive-resume {
         width: 100%;
         display: block;
     }

     .responsive-resume div, .responsive-resume div dd {
         display: block;
         text-align: center;
     }

     .responsive-resume div h3 {
         float: none;
     }


     #en-resume article > div {
         margin-left: 0;
     }

     .souris {
         margin-right: 40px;
     }


 }

 /* pour les mobiles */

 @media screen and (max-width: 720px) {

     /*nav burger en responsive*/
     /*les class non ciblées en js*/
     .hide-desktop {
         display: inline-block;
     }

     .responsive-nav ul {
         display: none;
     }

     .responsive-nav.active {
         height: 100vh;
         background-color: #112C4F;
         display: block;
         position: relative;
         z-index: 2;
         padding: 0;
     }

     .responsive-nav.active ul {
         height: 100%;
         text-align: left;
         margin: 0 0 0 20%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }

     .responsive-nav.active ul li a {
         font-size: 27px;
     }


     /* les class qui font l'anim*/
     .nav-tgl {
         display: inline-block;
         cursor: pointer;
         position: absolute;
         z-index: 5;
         right: 30px;
         top: 30px;
         width: 70px;
         height: 70px;
         border-radius: 50%;
         padding: 0;
         line-height: 0.6;
         text-align: center;
         background-color: #112C4F;
     }

     .nav-tgl > span {
         display: inline-block;
         position: relative;
         height: 2px;
         width: 34px;
         border-radius: 1px;
         background: #fff;
         vertical-align: middle;
     }

     .nav-tgl > span:before, .nav-tgl > span:after {
         display: inline-block;
         position: absolute;
         content: "";
         height: 2px;
         border-radius: 1px;
         background: #fff;
         transition: all 200ms;
     }

     .nav-tgl > span:before {
         top: -11px;
         left: 3px;
         width: 28px;
     }

     .nav-tgl > span:after {
         top: 11px;
         left: 6px;
         width: 22px;
     }

     .nav-tgl:focus {
         outline: none;
     }

     .nav-tgl:hover > span:after, .nav-tgl:hover > span:before {
         width: 34px;
         left: 0;
     }

     .nav-tgl.toggled > span {
         height: 0;
     }

     .nav-tgl.toggled > span:after, .nav-tgl.toggled > span:before {
         top: 0;
         left: 0;
         width: 34px;
     }

     .nav-tgl.toggled > span:after {
         transform: rotate(-45deg);
     }

     .nav-tgl.toggled > span:before {
         transform: rotate(45deg);
     }


     /*footer*/
     .responsive-footer > div {
         flex-direction: column;
         justify-content: center;
         width: 100%;
     }

        .responsive-footer div div {
            width: 100%;
        }

     .responsive-footer div figure {
         margin: auto;
     }


     .main-scroll-2 {
         display: none;
     }

     .responsive-footer>div {
         margin: 20px 0;
     }

     .responsive-footer ul {
         justify-content: center;
     }

     /*la div qui contient mes elements centraux*/
     .flex-conteneur {
         display: flex;
         flex-direction: column;
     }

     /*une div qui mets de redimensionner mes éléments dans le flex-conteneur
 (attention, cela depends encore de la taille de la figure, si on modifie la height, il faut modifier les deux*/
     .cover {
         height: auto;
     }

     .responsive-middle-image {
         margin: 15px 0;
     }

     .figure-survol, .figure-page {
         height: auto;
     }

     .figure-survol figcaption {
         display: none;
     }

 }

 @media screen and (max-width: 540px) {

     html,
     body {
         width: 100vw;
         margin: 0;
     }

     h2 {
         font-size: 60px;
     }

     h3 {
         font-size: 30px;
         text-align: center;
     }


     p , dd{
         width: 98%;
         font-size: 22px;
         text-align: justify;
         margin: auto;
         -webkit-hyphens: auto;
         -moz-hyphens: auto;
         -ms-hyphens: auto;
         hyphens: auto;
     }


     #acceuil div>h1 {
         font-size: 30px;
         text-align: center;
         padding: 0 10vw;
     }

     #acceuil div h1 .dot-rose {
         display: none;
     }

     #acceuil div h1 > strong {
         font-size: 25px;
     }

     .responsive-dot-rose:before {
         width: 15px;
         height: 15px;
         margin: 2px 5px;
     }

     #acceuil .oiseau-responsive {
         display: none;
     }

     .h2-75 span {
         font-size: 35px;
     }

     .lune-back:before {
         display: none;
     }


     /* ---------------------------------------------------------animations*/


     /* les animation de background*/


     .img-top-responsive {
         width: 80vw;
         overflow: hidden;
     }

     .img-right-responsive {
         width: 80vw;
         top: 50%;
         left: 5%;
         overflow: hidden;
     }

     .img-left-responsive {
         width: 50vw;
         top: 65%;
         overflow: hidden;
     }

 }

 @media screen and (max-width: 320px) {

     h2 {
         font-size: 40px;
     }

     h3 {
         font-size: 25px;
         text-align: center;
         margin-bottom: 10px;
     }

     p {
         width: 95%;
         text-align: left;
     }
 }